{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | Chianda High School Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/img/logo.png' %}" height="40px" style="margin-right: 10px;">
        Chianda High School Benevolent - Admin Portal
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}